{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'deco.js' %}"></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>{{len}}</title>

</head>
<body onload="doit()">

    <div id="mc" class="bg-black pb-32">
        <h1 class="text-left pt-32">ONE STOP </h1>
        <h1 id="cit">HOME</h1>
        <h1 class="text-left" > REMEDIES </h1>
        <h1 class="text-left"> SITE</h1>
    </div>

    <div id="othercon" style="display:none;">
        <div style="background-image: url(https://images.unsplash.com/photo-1590845947667-381579052389?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHByb2JsZW18ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);
        background-position: center;background-size: cover;background-repeat: no-repeat;">
            <div id="come" class="block">
                <p class="pt-8 pb-8 text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At assumenda saepe aliquam tempora veritatis a deleniti odit neque velit maxime debitis nam nisi eligendi repellendus facere alias quam, est eos.</p>
                    <br>
                <form action="{% url 'main' %}" method="post" id="formm" class="smallsearch text-center">
                    {% csrf_token %}
                    <input type="text" id="inp" name="searched" placeholder=" What's the problem .." class="smallinp mb-28 mt-14" autocomplete="off" autocapitalize="words">
                </form>
                
            </div>
        </div>
         
        <h1 class="text-7xl text-center py-16 border-b-1 border-zinc-500">Trending Articles</h1>
        <div class="related flex pb-8" style="overflow-x: scroll;">
            {% for r in masala %}
                <div style="background-image: url({{r.link_to_pic}});background-size:cover;background-position: center;width:400px;min-width: 300px;height:25rem;margin-inline: 2rem;overflow: hidden;">
                    <h1 class="text-4xl text-left px-4 pt-4 pb-16 text-black"><a href="/new?which={{r.id}}">{{r.title}}</a></h1>
                    <h1 class="pb-8 px-2" style="background-color: rgba(0,0,0,0.6);color: white;">{{r.published_on}}</h1>
                    <h4 class="px-2 w-full h-full text-white" style="background-color: rgba(0,0,0,0.6);">{{r.description}}....</h4>
                </div>
            {% endfor %}
        </div>
    
        <div style="background-image: url();
        background-position: center;background-size: cover;background-repeat: no-repeat;">
            <div id="faq" class="faq mt-32" style="font-weight: 300;">
                <h1 class="tren_art px-6">Post Questions</h1>
                <form action="{% url 'question' %}" method="post">
                    {% csrf_token %}
                    <input id="here" class="email_forminput" name="text" type="text" placeholder="Question ? .." style="text-transform: capitalize;"><br><br>
                    <input id="here" class="email_forminput" name="nam" type="text" placeholder="Name .." style="text-transform: capitalize;"><br><br>
                    <input class="email_forminput" name="email" type="email" placeholder="Your Email .." required><br><br>
                    <input type="checkbox" name="action" id="notify" value="notify"> Notify Me
                    <input type="checkbox" name="action" id="join" value="join"> Join Our Mailing List<br><br>
                    <input type="submit" value="Done" class="submit_email bg-amber-400 text-center px-6">
                </form>
            </div>
        </div>

        <footer class="bg-black mt-20 w-full ">

            <h1 id="logodown" class="text-4xl text-white flex pt-24" style="font-family: 'youcanusemenvm',sans-serif;">
                <svg version="1.0" id="logosvgdown" xmlns="http://www.w3.org/2000/svg"
                width="100" height="100" viewBox="0 70 320 320" preserveAspectRatio="xMidYMid meet">
               <g transform="translate(0.000000,320.000000) scale(0.100000,-0.100000)"
                ><path fill="white" d="M1485 2394 c-318 -52 -575 -282 -661 -595 -25 -89 -25 -309 0 -398 78 -282 295 -499 577 -577 89 -25 309 -25 398 0 282 78 499 295 577 577 25 89 25 309 0 398 -77 280 -296 500 -571 576 -60 16 -263 28 -320 19z m215 -329 c45 -45 46 -45 48 -18 5 63 65 72 94 13 28 -56 76 -211 89 -285 14 -81 7 -370 -11 -488 l-12 -77 -277 2 -276 3 -23 65 c-45 125 -72 249 -72 335 0 71 4 90 31 143 30 61 53 79 94 73 43 -6 48 -20 41 -113 -8 -111 6 -147 68 -178 23 -11 50 -20 60 -20 26 0 73 27 90 52 18 26 21 96 5 130 -15 33 -91 90 -150 113 -59 23 -75 41 -66 77 9 33 45 48 119 48 58 0 60 1 54 23 -24 87 -14 147 26 147 13 0 41 -19 68 -45z"/></g>
               </svg><a href="/admin">Fit Naturally.</a>
            </h1>
    
            <div class="links text-white">
                <h1><a href="/other#donate">DONATE</a></h1>
                <h1><a href="/other#about"> ABOUT </a></h1>
                <h1><a href="/other#advertise">ADVERTISE </a></h1>
            </div>
    
            <h1 id="futh" class="text-left pl-8 pb-12 text-xs text-white" style="margin-top:2rem">© 2022 Fit Naturally . All rights reserved All mean's All .
               Made With Love In Milky Way Galaxy Beyond Infinity .
            </h1>
    
        </footer>

    </div>
   
    <nav id="navbar" class="nav ">
        <h1 id="logo" class="pehla_h flex"><svg version="1.0" id="logosvg" xmlns="http://www.w3.org/2000/svg" 
            width="90" height="90" viewBox="0 70 320 320" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,320.000000) scale(0.100000,-0.100000)" fill="white"
            stroke="white" strokeWidth="2"><path d="M1485 2394 c-318 -52 -575 -282 -661 -595 -25 -89 -25 -309 0 -398 78 -282 295 -499 577 -577 89 -25 309 -25 398 0 282 78 499 295 577 577 25 89 25 309 0 398 -77 280 -296 500 -571 576 -60 16 -263 28 -320 19z m215 -329 c45 -45 46 -45 48 -18 5 63 65 72 94 13 28 -56 76 -211 89 -285 14 -81 7 -370 -11 -488 l-12 -77 -277 2 -276 3 -23 65 c-45 125 -72 249 -72 335 0 71 4 90 31 143 30 61 53 79 94 73 43 -6 48 -20 41 -113 -8 -111 6 -147 68 -178 23 -11 50 -20 60 -20 26 0 73 27 90 52 18 26 21 96 5 130 -15 33 -91 90 -150 113 -59 23 -75 41 -66 77 9 33 45 48 119 48 58 0 60 1 54 23 -24 87 -14 147 26 147 13 0 41 -19 68 -45z"/></g>
            </svg><a  href="/admin" class="h-10">Fit Naturaly</a></h1>
        
        <div class="searchsvgcon">
            <a href="#come" class="searchlink"><svg  xmlns="http://www.w3.org/2000/svg" class="searchsvg" fill="none" viewBox="-0 0 24 24" stroke="white" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg></a>
        </div>

        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 fixed bottom-16 right-2 bg-black rounded-full" fill="white" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 11l7-7 7 7M5 19l7-7 7 7" />
        </svg></a>

        <div onclick="showwavemenu()" id="svgs" class="menu">
            <a href="#"><img src="https://threespot-herokuapp-com.global.ssl.fastly.net/assets/icons/menu-49e26af01fbee07b9913707db1467e72d2d909d47299e6b0b0fd7fbe4f9dfbad.png"></a>
        </div> 
        <div>
            <div id="google_translate_element"></div>
            <script type="text/javascript">
            function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');}
            </script>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>
        <div id="cat" class="categories">
            <h1 class="text-white text-4xl text-left p-8">CATEGORY</h1>
            <a class="absolute top-8 right-8" onclick="closecategories()"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg></a>
            <div class="cat">
                {% for categories in cat %}
                    <br><br><br><a href="/categories?name={{categories.id}}">{{categories}}</a><br><br>
                {% endfor %}
            </div>
        </div>
    </nav>

    <div class="menucon" id="menudiv">
        <svg class="wavemenu" id="visual" viewBox="0 0 900 600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path stroke-linecap="round" stroke-linejoin="miter">
            <animate attributeType="XML" attributeName="d" 
            dur="1000ms" repeatCount="indefinite" 
            values="M710 600L725.5 550C741 500 772 400 770.5 300C769 200 735 100 718 50L701 0L900 0L900 50C900 100 900 200 900 300C900 400 900 500 900 550L900 600Z;
            "></animate></path></svg>
            <a onclick="closewavemenu()"><img src="{% static 'menuclose.png' %}" class="closemenu"></a>
        <div id="menulinks" class="menulinks pr-4">
            <a href="/">HOME</a><br><br>
            <a onclick="displaycategories()" class="text-2xl">CATEGORIES</a><br><br>
            <a href="#">ABOUT</a><br><br>
            <a href="#">DONATE</a><br><br>
            <a href="#">INFO</a><br><br>
            <a href="#">POST QUERY</a><br><br>
        </div>
    </div>

</body>
</html>