{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="{% static 'ok.png' %}" >
    <link rel="stylesheet" href="{% static 'new.css' %}">
    <title>Fit Naturally</title>
    <style>
         #google_translate_element select{background:#000000;color:#ffffff;border: none;width: 8rem;height: 1.5rem;margin-left: 30rem;margin-top: 1.5rem;
        padding:6px 8px;font-size:x-small;}.goog-logo-link{display:flex!important;margin-top: -1rem;margin-left: 30rem;} .goog-te-gadget{
        color:transparent!important;} .goog-te-banner-frame{display:none !important; }#goog-gt-tt{display: none !important;}
    </style>
</head>
<body>
    <nav id="navbar" class="nav">
        <h1 id="logo" class="pehla_h flex"><svg version="1.0" id="logosvg" xmlns="http://www.w3.org/2000/svg"
            width="90" height="90" viewBox="0 70 320 320" preserveAspectRatio="xMidYMid meet">
           <g transform="translate(0.000000,320.000000) scale(0.100000,-0.100000)"
            stroke="black" strokeWidth="6"><path d="M1485 2394 c-318 -52 -575 -282 -661 -595 -25 -89 -25 -309 0 -398 78 -282 295 -499 577 -577 89 -25 309 -25 398 0 282 78 499 295 577 577 25 89 25 309 0 398 -77 280 -296 500 -571 576 -60 16 -263 28 -320 19z m215 -329 c45 -45 46 -45 48 -18 5 63 65 72 94 13 28 -56 76 -211 89 -285 14 -81 7 -370 -11 -488 l-12 -77 -277 2 -276 3 -23 65 c-45 125 -72 249 -72 335 0 71 4 90 31 143 30 61 53 79 94 73 43 -6 48 -20 41 -113 -8 -111 6 -147 68 -178 23 -11 50 -20 60 -20 26 0 73 27 90 52 18 26 21 96 5 130 -15 33 -91 90 -150 113 -59 23 -75 41 -66 77 9 33 45 48 119 48 58 0 60 1 54 23 -24 87 -14 147 26 147 13 0 41 -19 68 -45z"/></g>
           </svg><a href="/admin" class="h-10">Fit Naturaly</a></h1>
        <!--Dark mode-->
        <svg xmlns="http://www.w3.org/2000/svg" onclick="darkmode()" id="sun" class="sun" fill="white" viewBox="0 0 24 24" stroke="white" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
        <!--end-->
        <!--Bright mode-->
        <svg xmlns="http://www.w3.org/2000/svg" onclick="brightmode()" id="moon" class="moon" fill="white" viewBox="0 0 24 24" stroke="black" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
        </svg>
        <!--end-->
        <div onclick="showwavemenu()" id="svgs" class="menu">
            <a href="#"><img src="https://threespot-herokuapp-com.global.ssl.fastly.net/assets/icons/menu-49e26af01fbee07b9913707db1467e72d2d909d47299e6b0b0fd7fbe4f9dfbad.png"></a>
        </div> 
        <div>
            <div id="google_translate_element"></div>
            <script type="text/javascript">
            function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');}
            </script>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>
        <div id="cat" class="categories">
            <h1 class="text-white text-4xl text-left p-8">CATEGORY</h1>
            <a class="absolute top-8 right-8" onclick="closecategories()"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg></a>
            <div class="cat">
                {% for categories in cat %}
                    <br><br><br><a href="/categories?name={{categories.id}}">{{categories}}</a><br><br>
                {% endfor %}
            </div>
        </div>
    </nav>
    
    <!--NAV BAR ENDS HERE---->
    <div class="menucon" id="menudiv">
        <svg class="wavemenu" id="visual" viewBox="0 0 900 600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path stroke-linecap="round" stroke-linejoin="miter">
            <animate attributeType="XML" attributeName="d"
            dur="1000ms" repeatCount="indefinite" 
            values="M710 600L725.5 550C741 500 772 400 770.5 300C769 200 735 100 718 50L701 0L900 0L900 50C900 100 900 200 900 300C900 400 900 500 900 550L900 600Z;
           "></animate></path></svg>
            <a onclick="closewavemenu()"><img src="{% static 'menuclose.png' %}" class="closemenu"></a>
        <div id="menulinks" class="menulinks pr-4">
            <a onclick="displaycategories()" class="text-2xl">CATEGORIES</a><br><br>
            <a href="#about">ABOUT</a><br><br>
            <a href="#donate">DONATE</a><br><br>
            <a href="#advertise">ADVERTISE</a><br><br>
            <a href="#">POST QUERY</a><br><br>
        </div>
    </div>

    <div id="about">
        <h1 class="text-center text-7xl mt-24">About</h1><br><br>
        <p class="text-left text-xl ml-2">I'm glad you are reading this . So Fit Naturally is my site yes its completly ran Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis sunt ullam cumque voluptatem tempore! Possimus libero eligendi numquam quibusdam iure repellat adipisci, ab temporibus quae fugiat minima. Sunt, ea accusamus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nam debitis tenetur, officia ab nemo possimus similique quas, incidunt ratione deleniti odio! Beatae tempore alias sint, blanditiis excepturi ipsum unde?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nesciunt doloremque a excepturi possimus ipsa perferendis maiores nemo, error qui officia, reprehenderit veniam quibusdam dignissimos expedita ut voluptates dolores eveniet.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis rerum quam cumque ut, adipisci laborum maxime dolore saepe, rem soluta incidunt! Minus, velit. Neque iusto libero exercitationem, unde itaque saepe.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur quia optio necessitatibus deserunt dolore quaerat, vero placeat sint dolorem ratione minima iste nesciunt corporis natus consequuntur dolorum molestias nisi omnis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, sapiente eveniet dolore reprehenderit commodi recusandae facere, quisquam minus vitae reiciendis, id blanditiis. Ab consequuntur ipsum dolores nulla placeat mollitia nisi.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores placeat quasi, expedita velit animi quo! Nostrum, hic? Accusamus temporibus ad amet aliquam ut sequi saepe sint quia explicabo laborum! Eligendi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam repellendus itaque, quam libero dolor sint recusandae alias dignissimos velit sunt eius laborum natus perferendis dicta quas veritatis quidem quibusdam amet.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, repellat, quae nulla pariatur repellendus, illo laborum soluta quisquam esse id modi cum facilis vero inventore nihil quasi voluptatibus amet dignissimos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta optio accusamus exercitationem laudantium sed, ullam cupiditate repellat facere dolore quis assumenda itaque voluptates quo cumque maiores, vel fuga ut maxime.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt quisquam reiciendis libero laborum error laudantium provident quod perspiciatis, adipisci est quae iure! Repellendus saepe ducimus a veritatis culpa quos officia!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae quia tempora est tenetur officia, nesciunt, blanditiis voluptas a alias non ullam voluptatem voluptates unde vel fugiat eos ex consequuntur amet.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque iusto veniam inventore beatae autem ea provident error delectus cumque, voluptatibus consequuntur. Voluptates, quisquam tenetur aliquam laborum ipsum corporis earum provident.
        </p>
    </div>

    <div id="help">
        <h1 class="text-center text-7xl mt-24">Help</h1><br><br>
        <p class="text-left text-xl ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam id adipisci quasi rerum totam, porro dicta rem accusantium ea provident, maiores delectus necessitatibus nesciunt quibusdam esse vitae voluptate odit neque!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit hic id voluptatibus numquam quisquam ut suscipit debitis non ex similique dolore assumenda pariatur, rem quae autem ullam ea veritatis consequuntur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus culpa recusandae ipsum commodi? Saepe harum fugit culpa! Vel magni eum voluptatum, cupiditate iste saepe amet sequi minus deleniti ullam ut?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat rem saepe non aliquam consectetur molestias ullam amet provident, voluptates qui minima, cupiditate eos nobis. Rem quis aperiam illo labore cupiditate.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quidem in corrupti ducimus minus perspiciatis asperiores iusto odit, dolores reiciendis quas maiores facilis hic nisi iste. Cum praesentium atque aut.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi incidunt expedita magni. Repudiandae molestias dignissimos architecto incidunt nam aliquam, omnis pariatur voluptate officia ullam cupiditate ab dolorem quasi error commodi?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates qui nesciunt dicta, voluptas velit mollitia cumque laborum asperiores recusandae iste officia. Nostrum, culpa non. Soluta at ipsa repudiandae aut explicabo?
        </p>
    </div>

    <div id="donate">
        <h1 class="text-center text-7xl mt-24">Donate</h1><br><br>
        <p class="text-left text-xl ml-2">
            Nothing much here if the articles/blogs worked for you and you are happy and healthy that's the <span class="text-amber-500">Biggest Donation</span> for me. But I would really appreciate your <span class="text-amber-500"> 5 Dollar support </span> to the site 😇 .
            <button class="text-center w-64 h-16 bg-violet-500 text-3xl"><a href="#">🤜 Convinced 🤛</a></button>
        </p>
    </div>

    <div id="advertise">
        <h1 class="text-center text-7xl mt-24">Advertise</h1><br><br>
        <p class="text-left text-xl ml-2"> 
        </p>
    </div>

    <div id="hire">
        <h1 class="text-center text-7xl mt-24">Hire Me</h1><br><br>
        <p class="text-left text-xl ml-2">
            Hey if you have made this far i assume you are either curious or you like my work 😅 . If so and you want any website to be made at affordable price let me know at my mail ID <span class="text-bold text-amber-400">hireme_fitnaturaly@gmail.com</span> . I will be glad working for you and here's what I assure :👇 <br>
            <ul class="ml-8" style="list-style-type:circle">
                <li class="mt-4">Responsive Design</li>
                <li class="mt-2">Modern UI</li>
                <li class="mt-2">Efficient Working </li>
                <li class="mt-2">As Quick As Possible</li>
                <li class=" mt-2">Real Cheap (I'm doing it for gaining expirence if you wonder why 😇😁) Depending Upon Complexity Of Project </li>
            </ul><br>
            <span class="ml-2">you with my whole hearted dedication . I f you really came this far and feel convinced mail me at <span class="text-bold text-amber-400">hireme_fitnaturaly@gmail.com</span> I will try to respond <span class="ml-2">within 24 Hrs.</span></span>
            <br><br><h1 class="text-right">--Have a Great Day or Nigth ahead Thanks .</h1> 
        </p>
    </div>

    <footer class="bg-black mt-20 w-full ">

        <h1 id="logodown" class="text-4xl text-white flex pt-24" style="font-family: 'youcanusemenvm',sans-serif;">
            <svg version="1.0" id="logosvgdown" xmlns="http://www.w3.org/2000/svg"
            width="100" height="100" viewBox="0 70 320 320" preserveAspectRatio="xMidYMid meet">
           <g transform="translate(0.000000,320.000000) scale(0.100000,-0.100000)"
            ><path fill="white" d="M1485 2394 c-318 -52 -575 -282 -661 -595 -25 -89 -25 -309 0 -398 78 -282 295 -499 577 -577 89 -25 309 -25 398 0 282 78 499 295 577 577 25 89 25 309 0 398 -77 280 -296 500 -571 576 -60 16 -263 28 -320 19z m215 -329 c45 -45 46 -45 48 -18 5 63 65 72 94 13 28 -56 76 -211 89 -285 14 -81 7 -370 -11 -488 l-12 -77 -277 2 -276 3 -23 65 c-45 125 -72 249 -72 335 0 71 4 90 31 143 30 61 53 79 94 73 43 -6 48 -20 41 -113 -8 -111 6 -147 68 -178 23 -11 50 -20 60 -20 26 0 73 27 90 52 18 26 21 96 5 130 -15 33 -91 90 -150 113 -59 23 -75 41 -66 77 9 33 45 48 119 48 58 0 60 1 54 23 -24 87 -14 147 26 147 13 0 41 -19 68 -45z"/></g>
           </svg><a href="/admin">Fit Naturally.</a>
        </h1>

        <div class="links text-white">
            <h1><a href="/other#donate">DONATE</a></h1>
            <h1><a href="/other#about"> ABOUT </a></h1>
            <h1><a href="/other#advertise">ADVERTISE </a></h1>
        </div>

        <h1 id="futh" class="text-left pl-8 pb-12 text-xs text-white" style="margin-top:2rem
        ;letter-spacing:1px;font-weight: bolder;">© 2022 Fit Naturally . All rights reserved All mean's All .
           Made With Love In Milky Way Galaxy Beyond Infinity .
        </h1>

    </footer>

    <script>
        function showwavemenu(){
        const wavemenu = document.getElementById('menudiv')
        wavemenu.style.display = 'block'}
        function closewavemenu(){
        const wavemenu = document.getElementById('menudiv')
        wavemenu.style.display = 'none'}
        function displaycategories(){
        const wavemenu = document.getElementById('menudiv')
        wavemenu.style.display = 'none'
        const categories = document.getElementById('cat')
        categories.style.display = 'block';}
        function closecategories(){
        const categories = document.getElementById('cat')
        categories.style.display = 'none';}
        function darkmode(){
        console.log("done")
        document.body.style.backgroundColor = "#060731";
        document.body.style.color = "white";
        const moon = document.getElementById("moon")
        moon.style.display = "block";
        moon.style.marginLeft = "18rem";
        const sun = document.getElementById("sun")
        sun.style.display = "none";    
        const wavemenu = document.getElementById("visual");
        wavemenu.style.fill = "white";
        const menulinks = document.getElementById("menulinks");
        menulinks.style.color = "black";}
        function brightmode(){location.reload()}
        window.onscroll = () => {scrollNavbar()};
            function scrollNavbar(){
                const sun = document.getElementById("sun")
                if (sun.style.display == "none")
                {
                    const transparentnav = document.getElementById("navbar");
                    transparentnav.style.backgroundColor = "rgb(0, 0, 0)";
                    const logo = document.getElementById("logo")
                    logo.style.color = "white";
                    const logosvg = document.getElementById("logosvg")
                    logosvg.style.fill = "white";
                }
                else{
                    const transparentnav = document.getElementById("navbar");
                    transparentnav.style.backgroundColor = "rgb(255, 255, 255)";
                    const logo = document.getElementById("logo")
                    logo.style.color = "black";
                    const logosvg = document.getElementById("logosvg")
                    logosvg.style.fill = "black";}}
                
            
        </script>
</body>
</html>